@inject ManagerService M
@inject CivitaiService Api

<EditForm Model=Request OnSubmit="Search">
    <MudGrid Class="px-4 mb-7 mt-5">
        <MudItem xs="5">
            <MudTextField @bind-Value=Request.Query Label="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Clearable />
        </MudItem>
        <MudItem xs="3">
            <MudSlider @bind-Value=Request.Limit Min="M.Settings.Resources.Civitai.Limit.Min" Max="M.Settings.Resources.Civitai.Limit.Max" Step="M.Settings.Resources.Civitai.Limit.Step"><small>Quantity:</small> @Request.Limit</MudSlider>
        </MudItem>
        <MudItem xs="2">
            <MudNumericField @bind-Value=Request.Page Label="Page" Variant="Variant.Text" Min=1 />
        </MudItem>
        <MudItem xs="2">
            <MudButton Class="w-100 h-100" ButtonType="ButtonType.Submit" Color="Color.Success" Variant="Variant.Text">Search</MudButton>
        </MudItem>
    </MudGrid>
</EditForm>

@if (M.CivitaiCreators != null)
{
    <MudTable Items=@M.CivitaiCreators.Creators Loading=_isSearching Dense Hover>
    <HeaderContent>
        <MudTh>Username</MudTh>
        <MudTh>Model Count</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Username</MudTd>
        <MudTd>@context.ModelCount</MudTd>
        <MudTd><MudIconButton OnClick=@(async () => await OnSearchCreator.InvokeAsync(context.Username)) Icon="@Icons.Material.Filled.Search" /></MudTd>
    </RowTemplate>
    <PagerContent>
        <div class="d-flex flex-column align-center pa-3">
            <MudPagination SelectedChanged=HandlePageSelected Selected=(int)Request.Page BoundaryCount="2" MiddleCount="5" Count="M.CivitaiCreators.Metadata.TotalPages" />
        </div>
    </PagerContent>
</MudTable>
}
else if (M.CivitaiCreators == null && _isSearching)
{
    <LoadingSpinner />
}

@code {
    [Parameter] public EventCallback<string> OnSearchCreator { get; set; }
    public CivitaiBaseRequest Request { get; set; }
    private bool _isSearching;

    protected override void OnInitialized()
    {
        LoadState();
    }

    private async Task HandlePageSelected(int selection)
    {
        Request.Page = selection;
        await Search();
    }

    private async Task Search()
    {
        _isSearching = true;
        SetState();
        M.CivitaiCreators = await Api.GetCreators(Request);
        _isSearching = false;
    }

    private void LoadState()
    {
        Request = new();
        Request.Query = M.State.Civitai.Creators.Shared.Query;
        Request.Limit = M.State.Civitai.Creators.Shared.Limit;
        Request.Page = M.State.Civitai.Creators.Shared.Page;
    }

    private void SetState()
    {
        M.State.Civitai.Creators.Shared.Query = Request.Query;
        M.State.Civitai.Creators.Shared.Limit = (int)Request.Limit;
        M.State.Civitai.Creators.Shared.Page = (int)Request.Page;
    }
}
