@inject ManagerService M
@inject CivitaiService Api
@inject IDialogService DialogService

<div>
        <EditForm Model=Request OnSubmit="Search">
            <MudGrid Class="px-4 mb-7 mt-5">
                <MudItem xs="3">
                    <MudTextField @bind-Value=Request.Query Label="Title" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Clearable />
                </MudItem>
                <MudItem xs="2">
                    <MudTextField @bind-Value=Request.Hash Label="Hash" Adornment="Adornment.Start" AdornmentIcon="fa-solid fa-hashtag" Clearable />
                </MudItem>
                <MudItem xs="2">
                    <MudSlider @bind-Value=Request.Limit Min="M.Settings.Resources.Civitai.Limit.Min" Max="M.Settings.Resources.Civitai.Limit.Max" Step="M.Settings.Resources.Civitai.Limit.Step"><small>Quantity:</small> @Request.Limit</MudSlider>
                </MudItem>
                <MudItem xs="1">
                    <MudNumericField @bind-Value=Request.Page Label="Page" Variant="Variant.Text" Min=1 Class="page-number" AdornmentIcon="fa-solid fa-rotate-left" Adornment=Adornment.End OnAdornmentClick="() => Request.Page = 1" />
                </MudItem>
                <MudItem xs="1">
                    <MudCheckBox @bind-Checked=Request.Favorites>Favorites</MudCheckBox>
                </MudItem>
                <MudItem xs="1">
                    <MudCheckBox @bind-Checked=Request.Hidden>Hidden</MudCheckBox>
                </MudItem>
                <MudItem xs="2">
                    <MudCheckBox @bind-Checked=Request.IsPrimaryFileOnly>Primary Only</MudCheckBox>
                </MudItem>
                <MudItem xs="3">
                    <MudTextField @bind-Value=Request.Username Label="Username" Adornment="Adornment.Start" AdornmentIcon="fa-solid fa-user" Clearable />
                </MudItem>
                <MudItem xs="2">
                    <MudTextField @bind-Value=Request.Tag Label="Tag" Adornment="Adornment.Start" AdornmentIcon="fa-solid fa-tag" Clearable />
                </MudItem>
                <MudItem xs="2">
                    <MudSelect @bind-Value=Request.Type Label="Type" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft" MaxHeight="400">
                        @foreach (CivitaiModelType? modelType in Enum.GetValues(typeof(CivitaiModelType)))
                        {
                            <MudSelectItem Value="@modelType">@modelType</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="2">
                    <MudSelect @bind-Value=Request.Sort Label="Sort" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                        @foreach (CivitaiSort? sort in Enum.GetValues(typeof(CivitaiSort)))
                        {
                            <MudSelectItem Value="@sort">@sort.ToString().Replace("_", " ")</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="1">
                    <MudSelect @bind-Value=Request.Period Label="Period" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                        @foreach (CivitaiPeriod? period in Enum.GetValues(typeof(CivitaiPeriod)))
                        {
                            <MudSelectItem Value="@period">@period</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="2">
                    <MudButton Class="w-100 h-100" ButtonType="ButtonType.Submit" Color="Color.Success" Variant="Variant.Text">Search</MudButton>
                </MudItem>
            </MudGrid>
        </EditForm>
</div>

@if (_isSearching)
{
    <LoadingSpinner />

}
else if (M.CivitaiModels != null)
{
    @if (M.CivitaiModels.Metadata.TotalPages > 1)
    {
        <div class="d-flex flex-column align-center pa-3">
            <MudPagination SelectedChanged=HandlePageSelected Selected=(int)Request.Page BoundaryCount="2" MiddleCount="5" Count="M.CivitaiModels.Metadata.TotalPages" />
        </div>
    }

    <MudGrid Spacing="1" Justify="Justify.Center">
        @foreach (var model in M.CivitaiModels.Models)
        {
            <ResourceCard Resource="CreateResourceCard(model)" HoverColor=@(Parser.ParseCivitaiResourceColorAsString((CivitaiModelType)Enum.Parse(typeof(CivitaiModelType), model.Type))) OnLoad="@(async () => await ShowInfo(model))" />
        }
    </MudGrid>

    @if (M.CivitaiModels.Metadata.TotalPages > 1)
    {
        <div class="d-flex flex-column align-center pa-3">
            <MudPagination SelectedChanged=HandlePageSelected Selected=(int)Request.Page BoundaryCount="2" MiddleCount="5" Count="M.CivitaiModels.Metadata.TotalPages" />
        </div>
    }
}

@code {
    public CivitaiModelsRequest Request { get; set; }
    private bool _isSearching;

    protected override void OnInitialized()
    {
        LoadState();
    }

    private async Task Search()
    {
        _isSearching = true;
        SetState();
        M.CivitaiModels = await Api.GetModels(Request);
        _isSearching = false;
    }

    private BaseResource CreateResourceCard(CivitaiModelsModelDto model)
    {
        var resource = new BaseResource() { Title = model.Name };
        if (model.ModelVersions.Count > 0 && model.ModelVersions[0].Images.Count > 0)
        {
            resource.ImageSrc = model.ModelVersions[0].Images[0].Url;
        }
        return resource;
    }

    private async Task ShowInfo(CivitaiModelsModelDto modelsModel)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Large };
        var dialogParam = new DialogParameters();
        var model = await Api.GetModel(modelsModel.Id);
        // Model version file object doesn't have a Primary property, we must use the one from Models list.
        for (int i = 0; i < model.ModelVersions.Count; i++)
        {
            for (int j = 0; j < model.ModelVersions[i].Files.Count; j++)
            {
                model.ModelVersions[i].Files[j].Primary = modelsModel.ModelVersions[i].Files[j].Primary;
            }
        }
        dialogParam.Add("Model", model);
        var dialog = await DialogService.ShowAsync<CivitaiModelInfoDialog>("Model", dialogParam, options);
        var result = await dialog.Result;
    }

    private async Task HandlePageSelected(int selection)
    {
        // Pagination components somehow call this method in an endless loop if the page number is higher than 1.
        if (Request.Page != selection)
        {
            Request.Page = selection;
            await Search();
        }
    }

    private void LoadState()
    {
        Request = new();
        Request.Query = M.State.Civitai.Models.Shared.Query;
        Request.Limit = M.State.Civitai.Models.Shared.Limit;
        Request.Page = M.State.Civitai.Models.Shared.Page;
        Request.Username = M.State.Civitai.Models.Username;
        Request.Tag = M.State.Civitai.Models.Tag;
        Request.Type = M.State.Civitai.Models.Type;
        Request.Sort = M.State.Civitai.Models.Sort;
        Request.Period = M.State.Civitai.Models.Period;
        Request.Rating = M.State.Civitai.Models.Rating;
        Request.Favorites = M.State.Civitai.Models.Favorites;
        Request.Hidden = M.State.Civitai.Models.Hidden;
        Request.IsPrimaryFileOnly = M.State.Civitai.Models.IsPrimaryFileOnly;
        Request.Hash = M.State.Civitai.Models.Hash;
    }

    private void SetState()
    {
        M.State.Civitai.Models.Shared.Query = Request.Query;
        M.State.Civitai.Models.Shared.Limit= (int)Request.Limit;
        M.State.Civitai.Models.Shared.Page = (int)Request.Page;
        M.State.Civitai.Models.Username = Request.Username;
        M.State.Civitai.Models.Tag = Request.Tag;
        M.State.Civitai.Models.Type = Request.Type;
        M.State.Civitai.Models.Sort = (CivitaiSort)Request.Sort;
        M.State.Civitai.Models.Period = (CivitaiPeriod)Request.Period;
        M.State.Civitai.Models.Rating = (int)Request.Rating;
        M.State.Civitai.Models.Favorites = (bool)Request.Favorites;
        M.State.Civitai.Models.Hidden = (bool)Request.Hidden;
        M.State.Civitai.Models.IsPrimaryFileOnly = (bool)Request.IsPrimaryFileOnly;
        M.State.Civitai.Models.Hash = Request.Hash;
    }
}
