@inject ManagerService M
@inject DatabaseService DB

<div>
    <MudDialog Style="min-width: 90vw; min-height: 90vh;" Class="pa-5">
        <TitleContent>
            <MudText Style="display: flex; justify-content: space-between;" Typo="Typo.h4">
                <MudStack>
                    <MudStack Class="align-items-center" Row>
                        @Model.Name
                        <MudLink Href=@(@"https://civitai.com/models/" + Model.Id) Target="_blank" Color=Color.Info Style="opacity: 0.4;" Typo="Typo.subtitle1">ID: @Model.Id</MudLink>
                    </MudStack>
                </MudStack>
                @if (Model.Nsfw)
                {
                    <MudIcon Class="me-4" Color="Color.Error" Icon="fa-solid fa-circle-dot" />
                }
            </MudText>
            <MudStack Class="mt-2 align-items-center" Row>
                <MudText Color="Color.Info">
                    <MudIcon Size=Size.Small Icon="fa-solid fa-download" />
                    @(Parser.CollapseInteger(Model.Stats.DownloadCount))
                </MudText>
                <MudText Color="Color.Error">
                    <MudIcon Size=Size.Small Icon="fa-solid fa-heart" />
                    @(Parser.CollapseInteger(Model.Stats.FavoriteCount))
                </MudText>
                <MudRating Class="me-n2" SelectedValue="@((int)Math.Round(Model.Stats.Rating))" ReadOnly />
                <MudText Color="Color.Warning">(@(Parser.CollapseInteger(Model.Stats.RatingCount)))</MudText>
            </MudStack>
        </TitleContent>
        <DialogContent>
            <MudGrid>
                <MudItem xs="2">
                    <MudStack Class="justify-content-center">
                        <MudStack Class="align-items-center justify-content-center" Row>
                            <MudAvatar>
                                <MudImage Style="max-width: 3rem; max-height: 3rem;" Src="@Model.Creator.Image" />
                            </MudAvatar>
                            <MudText Typo="Typo.button">@Model.Creator.Username</MudText>
                        </MudStack>
                        <MudChip Style=@($"background-color: var(--{Parser.ParseCivitaiResourceColorAsString((CivitaiModelType)Enum.Parse(typeof(CivitaiModelType), Model.Type))}); font-weight: 500; color: var(--mud-palette-white);") Label>@Model.Type</MudChip>
                        @if (Model.PersonOfInterest)
                        {
                            <MudChip Icon="fa-solid fa-user" Color="Color.Tertiary" Label>Person of Interest</MudChip>
                        }
                        <MudChipSet Filter=false>
                            @foreach (var tag in Model.Tags)
                            {
                                <MudChip>@tag.Name</MudChip>
                            }
                        </MudChipSet>
                    </MudStack>
                </MudItem>
                <MudItem xs="10">
                    <MudTabs PanelClass="py-4">
                        <MudTabPanel Text="Files">
                            <CivitaiModelVersionInfoPanel Model=Model />
                        </MudTabPanel>
                        <MudTabPanel Text="Description">
                            <MudContainer Class="description">
                                @((MarkupString)Model.Description)
                            </MudContainer>
                        </MudTabPanel>
                    </MudTabs>
                </MudItem>
            </MudGrid>
        </DialogContent>
    </MudDialog>
</div>

@code {
    [CascadingParameter] public MudDialogInstance MudDialog { get; set; }
    [Parameter] public CivitaiModelDto Model { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var entity = await DB.GetResourceByCivitaiModelId(Model.Id);
        if (entity != null) M.State.Civitai.ResourceSubtype = entity.SubType != null ? entity.SubType.Name : "";
    }
}
