@inject ManagerService M
@inject CivitaiService Api

<div>
    <EditForm Model=Request OnSubmit="Search">
        <MudGrid Class="px-4 mb-7 mt-7">
            <MudItem xs="4">
                <MudTextField @bind-Value=Request.Username Label="Username" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Clearable />
             </MudItem>
             <MudItem xs="2">
                 <MudNumericField @bind-Value=Request.PostId Label="Post ID" Variant="Variant.Text" Min=0 />
             </MudItem>
             <MudItem xs="2">
                 <MudNumericField @bind-Value=Request.ModelId Label="Model ID" Variant="Variant.Text" Min=0 />
             </MudItem>
             <MudItem xs="2">
                 <MudNumericField @bind-Value=Request.ModelVersionId Label="Model Version ID" Variant="Variant.Text" Min=0 />
             </MudItem>
             <MudItem xs="1">
                 <MudNumericField @bind-Value=Request.Page Label="Page" Variant="Variant.Text" Min=1 />
             </MudItem>
             <MudItem xs="3">
                 <MudSlider @bind-Value=Request.Limit Min=8 Max=200 Step=8>
                     <small>Limit:</small> @Request.Limit
                </MudSlider>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value=Request.Nsfw Label="NSFW" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft" MaxHeight="400">
                    @foreach (CivitaiNsfw? nsfw in Enum.GetValues(typeof(CivitaiNsfw)))
                    {
                        <MudSelectItem Value="@nsfw">@nsfw</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value=Request.Sort Label="Sort" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft" MaxHeight="400">
                    @foreach (CivitaiImageSort? sort in Enum.GetValues(typeof(CivitaiImageSort)))
                    {
                        <MudSelectItem Value="@sort">@sort.ToString().Replace("_", " ")</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value=Request.Period Label="Period" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft" MaxHeight="400">
                    @foreach (CivitaiPeriod? period in Enum.GetValues(typeof(CivitaiPeriod)))
                    {
                        <MudSelectItem Value="@period">@period</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudButton Class="w-100 h-100" ButtonType="ButtonType.Submit" Color="Color.Success" Variant="Variant.Text">Search</MudButton>
            </MudItem>
        </MudGrid>
    </EditForm>

    @if (M.CivitaiImages != null && M.CivitaiImages.Images != null && M.CivitaiImages.Images.Count > 0)
    {
        <MudGrid Class="images-container">
            @foreach (var img in M.CivitaiImages.Images)
            {
                <CivitaiImageCard Image="img" OnSaveImage="SaveImage"/>
            }
        </MudGrid>
    }
    else if (_isSearching)
    {
        <LoadingSpinner />
    }
</div>

@code {
    public CivitaiImagesRequest Request { get; set; }
    private bool _isSearching;

    protected override void OnInitialized()
    {
        LoadState();
    }

    private async Task Search()
    {
        _isSearching = true;
        SetState();
        M.CivitaiImages = await Api.GetImages(Request);
        await M.SaveState();
        _isSearching = false;
    }

    private void SaveImage()
    {
        
    }

    private void LoadState()
    {
        Request = new();
        Request.Limit = M.State.Civitai.Images.Limit;
        Request.PostId = M.State.Civitai.Images.PostId;
        Request.ModelId = M.State.Civitai.Images.ModelId;
        Request.ModelVersionId = M.State.Civitai.Images.ModelVersionId;
        Request.Username = M.State.Civitai.Images.Username;
        Request.Nsfw = M.State.Civitai.Images.Nsfw;
        Request.Sort = M.State.Civitai.Images.Sort;
        Request.Period = M.State.Civitai.Images.Period;
        Request.Page = M.State.Civitai.Images.Page;
    }

    private void SetState()
    {
        M.State.Civitai.Images.Limit = Request.Limit;
        M.State.Civitai.Images.PostId = (int)Request.PostId;
        M.State.Civitai.Images.ModelId = (int)Request.ModelId;
        M.State.Civitai.Images.ModelVersionId = (int)Request.ModelVersionId;
        M.State.Civitai.Images.Username = Request.Username;
        M.State.Civitai.Images.Nsfw = (CivitaiNsfw)Request.Nsfw;
        M.State.Civitai.Images.Sort = (CivitaiImageSort)Request.Sort;
        M.State.Civitai.Images.Period = (CivitaiPeriod)Request.Period;
        M.State.Civitai.Images.Page = Request.Page;
    }
}
