@inject AppState AppState

<div>
    <EditForm Model="@Parameters">
        <MudGrid Class="pa-5">
            <MudItem xs="6">
                <MudSlider @bind-Value=Parameters.Steps Min=AppState.Settings.Shared.Steps.Min Max=AppState.Settings.Shared.Steps.Max Step=AppState.Settings.Shared.Steps.Step Variant="Variant.Filled" ValueLabel><small>Steps:</small> @Parameters.Steps</MudSlider>
            </MudItem>
            <MudItem xs="6">
                <MudSelect T="string" Label="Sampler" @bind-Value=Parameters.SamplerIndex AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                    @if (AppState.Samplers != null)
                    {
                        @foreach (var sampler in AppState.Samplers)
                        {
                            <MudSelectItem Value=@sampler.Name />
                        }
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="6">
                <MudSlider @bind-Value=Parameters.CfgScale Min=AppState.Settings.Shared.CfgScale.Min Max=AppState.Settings.Shared.CfgScale.Max Step=AppState.Settings.Shared.CfgScale.Step Variant="Variant.Filled" ValueLabel TickMarks><small>CFG Scale:</small> @Parameters.CfgScale</MudSlider>
            </MudItem>
            <MudItem xs="5">
                <MudNumericField @bind-Value=Parameters.Seed Label="Seed" Min="-1" Max="long.MaxValue" />
            </MudItem>
            <MudItem xs="1">
                <MudButtonGroup Variant="Variant.Text" VerticalAlign>
                    <MudIconButton OnClick=SetRandomSeed Icon="fa-solid fa-shuffle" ButtonType="ButtonType.Button" Class="icon" />
                    <MudIconButton OnClick=RestoreSeed Icon="fa-solid fa-rotate-left" ButtonType="ButtonType.Button" Class="icon" />
                </MudButtonGroup>
            </MudItem>
            <MudItem xs="6">
                <MudSlider T="int?" ValueChanged=@((v) => HandleResolutionChanged((int)v, isWidth: true)) Value=Parameters.Width Min=AppState.Settings.Shared.Resolution.Min Max=AppState.Settings.Shared.Resolution.Max Step=AppState.Settings.Shared.Resolution.Step Variant="Variant.Filled" ValueLabel TickMarks><small>Width:</small> @(Parameters.Width)px</MudSlider>
            </MudItem>
            <MudItem xs="6">
                <MudSlider T="int?" ValueChanged=@((v) => HandleResolutionChanged((int)v, isWidth: false)) Value=Parameters.Height Min=AppState.Settings.Shared.Resolution.Min Max=AppState.Settings.Shared.Resolution.Max Step=AppState.Settings.Shared.Resolution.Step Variant="Variant.Filled" ValueLabel TickMarks><small>Height:</small> @(Parameters.Height)px</MudSlider>
            </MudItem>
            <MudItem xs="6">
                <MudSlider @bind-Value=Parameters.NIter Min=AppState.Settings.Shared.Batch.Count.Min Max=AppState.Settings.Shared.Batch.Count.Max Step=AppState.Settings.Shared.Batch.Count.Step Variant="Variant.Filled" ValueLabel TickMarks><small>Batch Count:</small> @Parameters.NIter</MudSlider>
            </MudItem>
            <MudItem xs="6">
                <MudSlider @bind-Value=Parameters.BatchSize Min=AppState.Settings.Shared.Batch.Size.Min Max=AppState.Settings.Shared.Batch.Size.Max Step=AppState.Settings.Shared.Batch.Size.Step Variant="Variant.Filled" ValueLabel TickMarks><small>Batch Size:</small> @Parameters.BatchSize</MudSlider>
            </MudItem>
            <MudItem xs="12">
                <MudChipSet SelectedChipsChanged="HandleParameterChecked" Class="d-flex align-items-center justify-content-center" MultiSelection Filter>
                    <MudChip Text="Restore Faces" Default="Parameters.RestoreFaces" Variant="Variant.Text" Color="Color.Primary">Restore Faces</MudChip>
                    <MudChip Text="Tiling" Default="Parameters.Tiling" Variant="Variant.Text" Color="Color.Primary">Tiling</MudChip>
                    <MudChip Text="Highres Fix" Default="Parameters.EnableHR" Variant="Variant.Text" Color="Color.Primary">Highres Fix</MudChip>
                </MudChipSet>
            </MudItem>
            <MudItem xs="12">
                <MudGrid Class=@($"collapse {(Parameters.EnableHR == true ? "show" : "")}")>
                    <MudItem xs="12" Class="align-items-center justify-content-center d-flex mt-n3">
                        <MudText Typo="Typo.overline">@_resizeInfo</MudText>
                    </MudItem>
                    <MudItem xs="4">
                        <MudSelect T="string" Label="Upscaler" @bind-Value=Parameters.HRUpscaler AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                            @if (AppState.Upscalers != null && AppState.Upscalers.Count > 0)
                            {
                                @foreach (var upscaler in AppState.Upscalers)
                                {
                                    <MudSelectItem Value=@(upscaler.Name) />
                                }
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="4">
                        <MudSlider @bind-Value=Parameters.HRSecondPassSteps Min=AppState.Settings.Txt2Img.HighRes.SecondPassSteps.Min Max=AppState.Settings.Txt2Img.HighRes.SecondPassSteps.Max Step=AppState.Settings.Txt2Img.HighRes.SecondPassSteps.Step Variant="Variant.Filled" ValueLabel><small>Steps:</small> @($"{(Parameters.HRSecondPassSteps > 0 ? Parameters.HRSecondPassSteps : $"Original ({Parameters.Steps})")}")</MudSlider>
                        </MudItem>
                        <MudItem xs="4">
                            <MudSlider @bind-Value=Parameters.DenoisingStrength Min=AppState.Settings.Shared.Denoising.Min Max=AppState.Settings.Shared.Denoising.Max Step=AppState.Settings.Shared.Denoising.Step Variant="Variant.Filled" ValueLabel><small>Denoising:</small> @Parameters.DenoisingStrength</MudSlider>
                        </MudItem>
                        <MudItem xs="4">
                            <MudSlider T="double" ValueChanged=HandleHRScaleChanged Value=Parameters.HRScale Min=AppState.Settings.Txt2Img.HighRes.Scale.Min Max=AppState.Settings.Txt2Img.HighRes.Scale.Max Step=AppState.Settings.Txt2Img.HighRes.Scale.Step Variant="Variant.Filled" ValueLabel><small>Scale Multiplier:</small> @(Parameters.HRScale)x</MudSlider>
                    </MudItem>
                    <MudItem xs="4">
                        <MudSlider T="int" ValueChanged=@((v) => HandleHRResolutionChanged(v, isWidth: true)) Value=Parameters.HRWidth Min=AppState.Settings.Txt2Img.HighRes.Resolution.Min Max=AppState.Settings.Txt2Img.HighRes.Resolution.Max Step=AppState.Settings.Txt2Img.HighRes.Resolution.Step Variant="Variant.Filled" ValueLabel><small>Width:</small> @(Parameters.HRWidth)px</MudSlider>
                    </MudItem>
                    <MudItem xs="4">
                        <MudSlider T="int" ValueChanged=@((v) => HandleHRResolutionChanged(v, isWidth: false)) Value=Parameters.HRHeight Min=AppState.Settings.Txt2Img.HighRes.Resolution.Min Max=AppState.Settings.Txt2Img.HighRes.Resolution.Max Step=AppState.Settings.Txt2Img.HighRes.Resolution.Step Variant="Variant.Filled" ValueLabel><small>Height:</small> @(Parameters.HRHeight)px</MudSlider>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
    </EditForm>
</div>

@code {
    [Parameter]
    public Txt2ImgParameters Parameters { get; set; }

    private Options _options;
    private MarkupString _resizeInfo;

    protected async override Task OnInitializedAsync()
    {
        _options = AppState.Options;
        if (AppState.Upscalers == null || AppState.Upscalers.Count == 0) await AppState.GetUpscalers();
        RefreshHighresInfo();
    }

    private void SetRandomSeed() => Parameters.Seed = -1;

    private void RestoreSeed()
    {
        if (AppState.ImagesInfo != null && AppState.ImagesInfo.Seed != null)
            Parameters.Seed = AppState.ImagesInfo.Seed;
    }

    private void HandleParameterChecked(MudChip[] checkboxes)
    {
        Parameters.RestoreFaces = false;
        Parameters.Tiling = false;
        Parameters.EnableHR = false;
        if (checkboxes == null || checkboxes.Count() == 0) return;

        foreach (var check in checkboxes)
        {
            switch (check.Text)
            {
                case "Restore Faces":
                    Parameters.RestoreFaces = true;
                    break;
                case "Tiling":
                    Parameters.Tiling = true;
                    break;
                case "Highres Fix":
                    Parameters.EnableHR = true;
                    break;
            }
        }
    }

    private void HandleResolutionChanged(int value, bool isWidth)
    {
        if (isWidth) Parameters.Width = value;
        else Parameters.Height = value;
        RefreshHighresInfo();
    }

    private void HandleHRResolutionChanged(int value, bool isWidth)
    {
        if (isWidth) Parameters.HRWidth = value;
        else Parameters.HRHeight = value;
        RefreshHighresInfo();
    }

    private void HandleHRScaleChanged(double value)
    {
        Parameters.HRScale = value;
        RefreshHighresInfo();
    }

    private void RefreshHighresInfo() => _resizeInfo = Parser.ParseHighresFixResizeInfo(Parameters);
}